html {
  font-size: 62.5%;
}

html {
  font-size: 62.5%;
  color: black;
}

body {
  padding: 50px;
  font: 2rem 'Lato' sans-serif;
  font-weight: 300;
  background: whitesmoke;
}

a {
  text-decoration: none;
  transition: all 1s;
}
a:hover {
  transition: all 1s;
}

ul, li {
  list-style-type: none;
}

ul, h1, h2, h3, h4, h5, h6, ul, li, ol, p, hr, figure, figcaption, blockquote, menu, dir, dl, dt, dd, defs, details, summary {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-after: 0;
  -moz-margin-before: 0;
  -moz-margin-after: 0;
  -moz-margin-start: 0;
  -moz-margin-end: 0;
  -moz-padding-start: 0;
  -moz-padding-end: 0;
  -moz-padding-before: 0;
  -moz-padding-after: 0;
  -ms-margin-before: 0;
  -ms-margin-after: 0;
  -ms-margin-start: 0;
  -ms-margin-end: 0;
  -ms-padding-start: 0;
  -ms-padding-end: 0;
  -ms-padding-before: 0;
  -ms-padding-after: 0;
  -o-margin-before: 0;
  -o-margin-after: 0;
  -o-margin-start: 0;
  -o-margin-end: 0;
  -o-padding-start: 0;
  -o-padding-end: 0;
  -o-padding-before: 0;
  -o-padding-after: 0;
}

header h1 {
  font-weight: 300;
}

figure {
  display: block;
}

strong {
  font-weight: 900;
}

.dynamic {
  height: auto;
}

figure.top_banner {
  max-width: 660px;
  position: relative;
  margin: 0 auto 20px;
  border: 1px solid black;
}
figure.top_banner img.full {
  display: block;
  max-width: 660px;
  margin: 0 auto 20px;
}
figure.top_banner.rem_ok {
  margin: 0 auto 2rem;
  max-width: 66rem;
}

figure figcaption {
  width: 100%;
  font-size: 1rem;
  text-align: center;
  position: absolute;
  transition: opacity, 1s;
  opacity: 0;
}
figure:hover figcaption {
  transition: opacity, 1s;
  opacity: 1;
  background: white;
}

.page_headline h1 {
  font-weight: 300;
  color: #615b55;
  font-size: 40px;
  text-align: center;
}
.page_headline h1.rem_ok {
  font-size: 4rem;
}

.subsec_content {
  width: calc(100% - 210px);
}
.subsec_content.rem_ok {
  width: calc(100% - 21rem);
}
.subsec_content > header h1 {
  font-size: 30px;
  color: #7db041;
}
.subsec_content > header h1.rem_ok {
  font-size: 3rem;
}

img {
  background-color: #fff2b2;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #fff2b2), color-stop(100%, #cccccc));
  background-image: -webkit-radial-gradient(#fff2b2, #cccccc);
  background-image: radial-gradient(  #fff2b2, #cccccc);
}

section.subsec {
  font-size: 1.6rem;
}

.flexbox section.subsec {
  display: flex;
}
.flexbox section.subsec:nth-child(odd) {
  flex-direction: row-reverse;
}
.flexbox section.subsec:nth-child(even) {
  flex-direction: row;
}

.subsec_txt {
  padding: 20px;
}

section.subsec
.no-flexbox:nth-child(odd) .subsec_fig {
  float: left;
}
section.subsec
.no-flexbox:nth-child(odd) .subsec_content {
  float: right;
}
.no-flexbox:nth-child(even) .subsec_fig {
  float: right;
}
.no-flexbox:nth-child(even) .subsec_content {
  float: left;
}

.subsec_fig {
  position: relative;
  width: 207px;
}
.subsec_fig img {
  width: 207px;
  height: 207px;
}
.subsec_fig.rem_ok {
  width: 20.7rem;
}

.subsec_btn:before, .subsec_btn:after {
  content: "";
  display: table;
}
.subsec_btn:after {
  clear: both;
}

footer {
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */